
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My flask app</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header class="header">
     <div class="overlay"></div>
        <div class="container"> </div>
    <div class="description">
   <h1>    Ip address: {{ ip_address }}
          </h1>
        <h1> User Browser: {{ user_browser }} </h1>
        <h1> Time on the server: {{ time_on_server }} </h1>
</div>
    <div class="row"> </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
     </div>
   <div class="col-lg-8 col-md-8 col-sm-12 desc">

   </div>
  </div>
</header>


<script type="text/javascript" src='../static/main.js'></script>
</body>
</html>


